extends error_layout
block title
  title qualia - 401
block body
  div(class="container")
    div(class="jumbotron")
      h1 401
      p You are not authorized to be here. Contact your slotica representative if you think this isn't correct.
      p
        a(href="/", class="btn btn-primary", role="button") Home

