extends error_layout
block title
  title qualia - 404
block body
  div(class="container")
    div(class="jumbotron")
      h1 404
      p You seem to be lost. Try going home.
      p
        a(href="/", class="btn btn-primary", role="button") Home

