extends error_layout
block title
  title qualia - 500
block body
  div(class="container")
    div(class="jumbotron")
      h1 Oops!
      p Something is broken. Try going home.
      p
        a(href="/", class="btn btn-primary", role="button") Home

