doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title qualia - Login
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/login.css")
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="/favicon-196x196.png", sizes="196x196")
    link(rel="icon", type="image/png", href="/favicon-160x160.png", sizes="160x160")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
  body
    div(class="outer")
      div(class="middle")
        div(class="inner")
          form(class="form-horizontal", role="form", action="/login", method="POST")
            input(type="hidden", name="redirect", value=redirect)
            div(class="form-group")
              label(class="col-sm-offset-3 col-sm-2 control-label", for="name") Username
              div(class="col-sm-4")
                input#name(class="form-control", name="username", type="text", placeholder="Username")
            div(class="form-group")
              label(class="col-sm-offset-3 col-sm-2 control-label", for="password") Password
              div(class="col-sm-4")
                input#password(class="form-control", name="password", type="password", placeholder="Password")
            if message && message != ''
              div(class="col-sm-offset-3 col-sm-6")
                div(class="alert alert-danger")
                  = message
            div(class="form-group")
              div(class="col-sm-offset-5 col-sm-4")
                button(type="submit",class="btn btn-default") Login