extends ../layout
block title
  title qualia - Organizations
block body
  div(class="container")
    div(class="jumbotron")
      h1 TODO
      p Organization admin...
block scripts
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js")
